header {
    background-color: $primary-color;
    padding: $normal-size;

    .container {
        @include container(flex, auto, space-between);
    }

    .logo {
        color: $secondary-color;
        cursor: default;
    }

    #form {
        width: 40%;

        @include respond-to(992px) {
            width: 25%;
        }
    }

    #search {
        width: $full;
        height: 2.063rem; // 33px
        padding: 0 $normal-size;
        border: $border solid $primary-color;
        border-radius: $normal-size;

        &:focus-visible {
            outline: none;
            box-shadow: 0rem 0rem 0.75rem $small-size rgba(240, 179, 123, 0.3);
        }
    }
}